venv/
__pycache__/
*.csv
*.ipynb
data/
RecipeNLG/
.env
.continueignore
.cursorignore 
.cursorrules
informe_tecnico.txt
Tutoriales/
chroma_db_store/
yolo*.pt
descartes/
ollama/
reports/
Tutoriales/
scripts/
.vscode/
reports/
informe_tecnico.txt 