pandas
numpy
matplotlib
seaborn
beautifulsoup4
requests
tqdm
chromadb
sentence-transformers
scikit-learn
torch
torchvision
torchaudio
nltk
fiftyone
ultralytics
sahi
easyocr
rapidfuzz
deep-translator
rank_bm25
ensemble-boxes
git+https://github.com/ChaoningZhang/MobileSAM.git
timm
fastapi
openfoodfacts
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv
authlib
httpx
psycopg2-binary
redis
celery
certifi
langgraph
langchain
langchain-openai
langchain-community
gunicorn